* {
    font-family: 'Fredoka', sans-serif;
}

/* index */

body {
    background-image: url(../images/background.png);
    background-size: cover;
    background-size: 100%;
    background-repeat: no-repeat;
}

.title {
    text-align: center;
}

.animation {
    width: 20%;
}

/* calculator */

#res {
    height: 60px;
    background-color: rgb(145, 174, 243);
    padding-right: 0.5rem;
    font-size: 40px;
    text-align: right;
    color: white;
    overflow: hidden;
}

.menu-calculadora {
    position: absolute;
    top: 38%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 1.5em;
    text-align: center;
    background-color: rgb(103, 112, 243);
    box-shadow: black 0.4rem 0.4rem 0.4rem;
}

.cal-btn {
    width: 50px;
    height: 30px;
    font-weight: 400;
    border-radius: 5px;
    font-size: 18px;
    background-color: white;
    color: black;
}

.verificar-btn {
    font-weight: 400;
    border-radius: 5px;
    background-color: rgb(152, 88, 212);
}

/* stopwatch */

.menu-stopwatch {
    position: absolute;
    background-color: rgb(103, 112, 243);
    top: 28%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 2em;
    border-radius: 1em;
}

.painel-stopwatch {
    color: white;
    background-color: rgb(145, 174, 243);
    border-radius: 1em;
}

.start-btn {
    background-color: green;
    color: white;
    border-radius: 1em;
    padding: 0.5em;
    border: none;
}

.pause-btn {
    background-color: gray;
    color: white;
    border-radius: 1em;
    padding: 0.5em;
    border: none;
}

.stop-btn {
    background-color: red;
    color: white;
    border-radius: 1em;
    padding: 0.5em;
    border: none;
}